<!--<div class="img-container">
    <img src="https://firebasestorage.googleapis.com/v0/b/beitar-1936.appspot.com/o/teddy1.jpg?alt=media&token=49123895-6344-4891-9011-ddb110f70c7f"
        class="stadiumWall">
    <div class="centered">
        <ngx-charts-pie-chart *ngIf="dataReceived" [results]="saleMonthTotal" [legend]="true"
            [legendTitle]="'Month Sale Report'" [view]="[1000,300]" [labels]="true">
        </ngx-charts-pie-chart>
    </div>
</div>-->
<ngx-charts-pie-chart *ngIf="dataReceived" [results]="saleMonthTotal"
    [labels]="true">
</ngx-charts-pie-chart>