.example-icon {
  padding: 0 14px;
}

.example-spacer {
  flex: 1 1 auto;
}

mat-toolbar {
  color:whitesmoke;
  background-color: black;
}

mat-sidenav {
  color:black;
  background-color: yellow;
}

mat-toolbar-row .bjLogo {
width: 7%;
}

mat-sidenav-container {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/beitar-1936.appspot.com/o/teddy1.jpg?alt=media&token=49123895-6344-4891-9011-ddb110f70c7f");
}