
.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.mat-h1 {
  color: #f7e92d;
  font-family: 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 35px;
}
