.img-container {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

.centered {
  position: relative;
  top: 40%;
  left: 50%;
  margin-right:10px;
  transform: translate(-50%, -50%);
}

table {
  width:100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.top-left .filter{
  top: 5%;
  margin-left: 10px;
  background-color: white;
  width:30%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form{
  padding-bottom: 30px;
}
.primary{
  background: orange;
  color: white;
  margin: 5px;
}

.refresh{
  background: blue;
  color: white;
  margin: 5px;
}


.date-block{
  display: flex;
  background-color: white;
}
.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}

mat-spinner {
  display: inline;
  vertical-align:middle;
}