.img-container .stadiumWall {
  width: 100%;
  height: 100vh;
  opacity: 0.7;
  }

.img-container {
position: relative;
text-align: center;
}

.centered {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.centered table {
width:100%;
table-layout: fixed;
overflow-wrap: break-word;
}

.top-left .filter{
position: absolute;
top: 8px;
left: 16px;
background-color: white;
}

th.mat-sort-header-sorted {
color: black;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

form{
  padding-bottom: 30px;
}
.primary{
  background: orange;
  color: white;
  margin: 5px;
}

.refresh{
  background: blue;
  color: white;
  margin: 5px;
}


.date-block{
  display: flex;
  background-color: white;
}
.date-block__list{
  flex-basis: 150px;
  margin-right: 15px;
}

.top-left .filter{
  position: absolute;
  top: 8px;
  left: 16px;
  background-color: white;
}