.img-container {
  width: 100%;
  height: 100vh;
  position: relative;
}

.centered {
  position: relative;
  top: 40%;
  left: 50%;
  margin-right:10px;
  transform: translate(-50%, -50%);
  text-align: center;
}

table {
  width:100%;
  table-layout: fixed;
  overflow-wrap: break-word;
}

.top-left .filter{
  top: 5%;
  margin-left: 10px;
  background-color: white;
  width:30%;
}

th.mat-sort-header-sorted {
  color: black;
}

@media only screen and (max-width:500px){
  .mat-table {
    border:5;
    vertical-align: middle;
  }
  .mat-cell {
    font-size: 10px;
    padding-right: 10px;
  }

  .mat-header-cell {
    font-weight: bold;
  }
}